@import url("https://fonts.googleapis.com/css2?family=Prata&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Prata", serif;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;
}

#more {
  display: none;
}

input {
  height: 30px;
  border-radius: 5px;
  border-style: none;
  padding-left: 5px;
  font: inherit;
  font-size: 12px;
}

label input {
  color: grey;
}

label {
  font-size: 24px;
}

textarea {
  height: 100px;
  border-radius: 5px;
  border-style: none;
  padding-left: 5px;
  font: inherit;
  font-size: 12px;
  color: grey;
  padding-top: 20px;
}

.btn {
  background-color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #112338;
  font-family: inherit;
  margin-left: 1rem;
}

h1 {
  font-size: 72px;
  font-family: Prata;
  padding-top: 115px;
  letter-spacing: 2px;
  color: white;
  display: flex;
  align-items: flex-end;
  margin-left: 60px;
}

h2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 3px;
  color: white;
  margin-left: 60px;
  padding-top: 20px;
}

h4 {
  color: #e7e7e7;
}

p {
  font-size: 20px;
}

table {
  font-size: 18px;
}
/* HEADER */

.logo img {
  width: 100%;
  height: 25px;
  padding-left: 20px;
}

header {
  position: sticky;
  top: 0;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  z-index: 10;
}

header a {
  color: #112338;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
}

li a {
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  font-size: 16px;
}

nav ul li {
  display: inline-block;
  margin: 1 rem;
  font-size: 1rem;
}

.bg {
  background-color: white;
}

.bg a,
.bg span {
  color: #032330;
}

#mob_button {
  display: none;
}

/* SECTIONS */
section {
  min-height: 100vh;
  width: 100%;
  scroll-margin-top: 5rem;
}

#first {
  background-image: url("src/blue-1634110_1280.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  width: 100%;
}

section:nth-child(odd) {
  background-color: #112338;
}

section:nth-child(even) {
  background-color: #e7e7e7;
}

h3 {
  font-size: 32px;
}

/* Projects section */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
 
}

#projects h3 {
  color: #112338;
  text-align: center;
  padding-top: 50px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
}

.container .card .face.face1 {
  position: relative;
  background: #112338;
  color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  box-shadow: 6px -7px 26px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border-style: none;
  width: 220px;
  height: 270px;
}

.container .card:hover .face.face1 {
  transform: translateY(0);
  border-style: solid white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 220px;
  height: 180px;
}


.container .card .face.face1 {
  transition: 1s;
  text-align: center;
}

.container .card .face.face1 .content h5:hover {
  font-size: 1em;
}

h5 {
  padding-left: 10px;
}

.container .card .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transform: translateY(-100px);
  width: 220px;
  height: 150px;
}

.container .card:hover .face.face2 {
  transform: translateY(0);
  border-style: solid white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 220px;
  height: 150px;
  box-shadow: 6px -7px 26px 0px rgba(0, 0, 0, 0.75);
}

.container .card .face.face2 .content_description p {
  margin-top: 10px;
  padding: 10px 0 10px 10px;
  font-size: 12px;
  position: static;
}

/* ABOUT ME SECTION */
#about h3 {
  margin-right: -300px;
  color: #e7e7e7;
}

#about .about_me h3 {
  color: #112338;
  padding: 0;
}

#about .about_me h4 {
  color: #112338;
  padding-left: 20px;
  font-size: 24px;
}

#about .about_me p {
  color: #112338;
  padding-left: 20px;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_me {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
   margin-top: 30px;
  background-color: #e7e7e7;
  border-radius: 10px;
  width: 450px;
  height: 450px;
}

.aboutme_description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* SKILLS SECTION  */

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills h3 {
  color: #112338;
  padding-top: 50px;
  margin-bottom: 30px;
  margin-left: -500px;
}

.skills_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

li a {
  padding: 0 1rem;
  font-size: 2rem;
  transition: 0.5s;
}

.skill_icon {
  color: #112338;
  padding: 0 0.5rem;
  font-size: 3rem;
  transition: 0.5s;
}

.progress {
  background-color: #a4a4a4a4;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 30px;
  width: 600px;
}

.progress-value1 {
  animation: load1 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background-image: linear-gradient(315deg, #112338 0%, #7ee8fa 74%);
  height: 30px;
}

.progress-value2 {
  animation: load2 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #112338 0%, #7ee8fa 74%);
  height: 30px;
}

.progress-value3 {
  animation: load3 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #112338 0%, #7ee8fa 74%);
  height: 30px;
}

.progress-value4 {
  animation: load4 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #112338 0%, #7ee8fa 74%);
  height: 30px;
}

@keyframes load1 {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 45%;
  }
}

/* GALLERY SECTION */

#gallery {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap:7rem;
  
}

#gallery h3 {
  color: #e7e7e7;
  padding-top: 50px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 170px);
  box-sizing: border-box;
  grid-gap: 10px;
  grid-auto-rows: 300px;
  grid-auto-columns: minmax(100px, auto);
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;

}

.box .box1 img {
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  width: 100%;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  align-items: stretch;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1 / span 2;
}


/* FOOTER */

footer h3 {
  color: #112338;
}

#back_to_top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  font-size: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #112338;
  background-color: #e7e7e7;
}

footer h3 {
  color: #112338;
  margin-bottom: 30px;
  margin-top: 50px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer p {
  font-size: 10px;
  color: #e7e7e7;
}

.btn_icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social_media li {
  display: flex;
}

li a {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  transition: 0.5s;
}

i:hover {
  color: #ff5252;
}

.btn_send {
  background-color: #ff5252;
  width: 5rem;
  padding: 1px 3px 2px 3px;
  border-radius: 5px;
  border-style: none;
}

i {
  color: #112338;
}

/* FOOTER WAVES */

.footer_waves {
  position: relative;
  text-align: center;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100vw;
  height: 30vh;
  min-height: 100px;
  max-height: 150px;
}

.content_footer {
  position: relative;
  height: 20vh;
  text-align: end;
  background-color: #112338;
  width: 100%;
  margin-top: -5px;
  padding-bottom: 5px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-50px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

/* MOBILE */

@media (max-width: 800px) {
  nav ul {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }

  #mob_button {
    background-color: transparent;
    display: block;
    border: none;
    color: #112338;
    padding: 1rem;
  }

  nav.responsive ul {
    background-color: #ff5252;
    border-radius: 10px;
    width: 70%;
    display: block;
    position: absolute;
    right: 0;
  }

  nav.responsive ul li {
    display: flex;
    gap: 25px;
    padding: 20px 0 20px 20px;
  }

  nav.responsive ul li a {
    color: rgb(255, 255, 255);
  }

  .container .card .face.face1 {
    align-items: flex-start;
  }

  .progress {
    /* margin-top: 50px; */
    background-color: #a4a4a4a4;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    /* padding: 0 5px; */
    display: flex;
    height: 30px;
    width: 300px;
  }
  #skills h3 {
    margin-left: 0px;
  }
}
